.home {
    display: flex;
    justify-content: center;
    background-color: #15202b;
    color: rgb(243, 235, 235);
    height: 100vh;
    padding: 20px;
    position: relative;
}

.title {
   margin-left: -85%;
   margin-top: -10%;
}

.home_container {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: 20px;
    margin: 0 auto;
    min-height: 100vh;
}

.champ {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #38444d;
    background-color: transparent;
    color: white;
    text-indent: 0;
    outline: none;
    font-size: 16px;
}



.tweetbutton {
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    height: 30px;
    width: 100px;
    margin-left: 80%;
}


.tweets {
    margin-top: 60px;
    width: 100%;
    border-top: 1px solid #38444d;
    padding-top: 10px;
}


.tweet {
    padding: 10px 0;
    border-bottom: 1px solid #38444d;
    width: 100%;
}

.hashtag {
    color: #1da1f2;
    font-weight: bold;
    text-decoration: none;
}

.poubelle {
    color: red;
    cursor: pointer;
    margin-left: 10px;
}

.tweetHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.character {
    margin-left: 60%;
    width: 100px;
    margin-top: -25px;
}

.logo {
    height: 80px;
    width: 80px;
    margin-left: -200%;
    margin-top: -5%;
    transform: scaleX(-1);
}